# Environment variables
.env

# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Runtime data
*.pid
*.seed

# Optional npm cache directory
.npm

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db 